@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* COnfigurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --transition: all .5s;
}

[data-theme="light"] {
    --bg-color: rgb(224, 229, 215);
    ;
    --txt-transparent: #2b2b2bb5;
    --shadow-color: rgba(0, 0, 0, 0.5);
    --txt-color: #2b2b2b;
    --lgt-green: rgb(111, 136, 66);
    --drk-green: #9aac78;
}

[data-theme="dark"] {
    --bg-color: #2b2b2b;
    --txt-transparent: rgba(255, 255, 255, 0.6);
    --shadow-color: rgba(0, 0, 0, 0.5);
    --txt-color: #fff;
    --lgt-green: rgb(186, 215, 133);
    --drk-green: #808f64;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    height: 100%;
    background-color: var(--bg-color);
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: center;
    height: auto;
}

/* menu */

.menu {
    display: flex;
    width: 100%;
    height: 4rem;
    padding: 30px;
    position: fixed;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: var(--bg-color);
    transition: var(--transition);
}

.menu::after {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    width: 10%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 2px;
    background-color: var(--txt-color);
    transition: var(--transition);
}

.menu.float {
    transform: translateY(1rem);
    width: 50%;
    border: 2px solid var(--txt-color);
    border-radius: 30px;
}

.menu.float:after {
    width: 0%;
    height: 0;
}

.menu:hover::after {
    width: 100%;
}

.menu.float:hover::after {
    width: 0%;
}

.menu-trigger {
    display: none;
}

.menu-spacer,
.menu-icon {
    width: 100%;
}

.menu-list {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.menu-icon {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.menu-list a {
    display: inline-block;
    text-decoration: none;
    color: var(--txt-transparent);
    transition: var(--transition);
    font-size: 1rem;
}

.menu-list a:hover,
.menu-list a:focus-visible {
    transform: translateY(-0.25rem);
    color: var(--txt-color);
}

.menu-list a.active {
    color: var(--lgt-green);
    transition: var(--transition);
}

.menu-icon a {
    color: var(--txt-transparent);
    transition: var(--transition);
    font-size: 1.5rem;
}

.menu-icon a:hover,
.menu-icon a:focus-visible {
    transform: translateY(-0.25rem);
    color: var(--txt-color);
}

.btn-theme {
    border: none;
    background-color: transparent;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    color: var(--txt-transparent);
}

.btn-theme:hover {
    transform: translateY(-0.25rem);
}

.btn-theme:hover .darkmode_icon,
.btn-theme:hover .darkmode_icon .ray    
{
    background: var(--txt-color);
}

.darkmode_icon {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: var(--txt-transparent);
    transform-origin: center center;
    transition: var(--transition);
}

.darkmode_icon::after {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    left: 7px;
    bottom: 4px;
    border-radius: 10px;
    background: var(--bg-color);
    transform-origin: center center;
    transition: var(--transition);
}

.darkmode_icon .ray {
    position: absolute;
    left: 4.5px;
    top: 5.5px;
    width: 7px;
    height: 5px;
    border-radius: 50%;
    transform-origin: center;
    transition: var(--transition);
}

.ray:nth-child(1) {
    transform: rotate(45deg) translateX(0);
}

.ray:nth-child(2) {
    transform: rotate(90deg) translateX(0);
}

.ray:nth-child(3) {
    transform: rotate(135deg) translateX(0);
}

.ray:nth-child(4) {
    transform: rotate(180deg) translateX(0);
}

.ray:nth-child(5) {
    transform: rotate(225deg) translateX(0);
}

.ray:nth-child(6) {
    transform: rotate(270deg) translateX(0);
}

.ray:nth-child(7) {
    transform: rotate(315deg) translateX(0);
}

.ray:nth-child(8) {
    transform: rotate(360deg) translateX(0);
}

[data-theme="dark"] {
    & .darkmode_icon {
        transform: scale(0.6);
    }

    & .darkmode_icon::after {
        left: 15px;
        bottom: 8px;
        transform: scale(0);
    }

    & .ray:nth-child(1) {
        background: var(--txt-transparent);
        transform: rotate(45deg) translateX(-16px);
    }

    & .ray:nth-child(2) {
        background: var(--txt-transparent);
        transform: rotate(90deg) translateX(-16px);
    }

    & .ray:nth-child(3) {
        background: var(--txt-transparent);
        transform: rotate(135deg) translateX(-16px);
    }

    & .ray:nth-child(4) {
        background: var(--txt-transparent);
        transform: rotate(180deg) translateX(-16px);
    }

    & .ray:nth-child(5) {
        background: var(--txt-transparent);
        transform: rotate(225deg) translateX(-16px);
    }

    & .ray:nth-child(6) {
        background: var(--txt-transparent);
        transform: rotate(270deg) translateX(-16px);
    }

    & .ray:nth-child(7) {
        background: var(--txt-transparent);
        transform: rotate(315deg) translateX(-16px);
    }

    & .ray:nth-child(8) {
        background: var(--txt-transparent);
        transform: rotate(360deg) translateX(-16px);
    }
}

/* Botão de scroll até o topo */

.scroll-to-top {
    bottom: -100%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    position: fixed;
    right: 1rem;
    background-color: var(--txt-transparent);
    box-shadow: 0px 0px 10px var(--shadow-color);
    cursor: pointer;
    transition: var(--transition);
}

.scroll-to-top.active {
    bottom: 1rem;
}

.scroll-to-top:hover {
    transform: translateY(-0.25rem);
    background-color: var(--txt-color);
}

.scroll-to-top svg {
    color: var(--bg-color);
}

/* Seções */
section {
    padding: 30px;
}

section h1 {
    font-size: 3.125rem;
    color: var(--txt-color);
}

section h2 {
    font-size: 2rem;
    color: var(--txt-color);
}

section h1 span {
    color: var(--lgt-green);
}

/* banner */
.banner {
    margin-top: 4rem;
    height: calc(100vh - 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 span {
    color: var(--lgt-green);
}

/* Sobre */
.about-section {
    height: 99vh;
    background-color: var(--drk-green);
}

.about-img div {
    width: 250px;
    height: 250px;
    background-color: var(--txt-color);
    border-radius: 50%;
}

.about-content {
    width: 100%;
    display: flex;
}

.about-info {
    width: 100%;
    display: flex;
}

.about-skills {
    width: 100%;
    display: flex;
}

.skills {
    width: 100%;
    display: flex;
}

.about-text,
.about-img,
.about-education,
.about-skills,
.skills-icons,
.skills-status {
    flex: 1;
    justify-content: center;
}

.skills-icons {
    display: flex;
}

.skills-icons .menores {
    display: flex;
}

.skills-icons .skill-icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-icons i {
    color: var(--txt-color);
    font-size: 2rem;
}

.skills-icons .skill-icon:nth-child(1),
.skills-icons .skill-icon:nth-child(2) {
    width: 4.5rem;
    height: 4.5rem;
}


/* contato */
.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99vh;
}

.icons-texts {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.icon-text a {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: var(--txt-color);
}

.icon-text {
    border-bottom: 3px dotted var(--txt-color);
    padding-bottom: 5px;
    transition: var(--transition);
    margin: auto;
}

.icon-text:hover {
    transform: scale(1.1);
}

.info-contact,
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    height: 100%;
}

.info-contact {
    text-align: center;
    align-items: center;
    gap: 30px;
}

/* Footer */

footer {
    padding: 30PX;
    background-color: var(--drk-green);
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: center;
    color: var(--txt-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer p {
    font-weight: 500;
    padding: 10px;
    font-size: large;
}

footer .hr {
    height: 2px;
    margin: auto;
    width: 30%;
    background-color: var(--txt-color);
}

footer .footer-navigation {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}

footer .footer-navigation a {
    color: var(--txt-color);
    text-decoration: none;
    transition: var(--transition);
}

footer .footer-navigation a:hover {
    transform: translateY(-0.25rem);
}

footer .footer-end {
    font-size: small;
}

footer .social-btns {
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}

footer .social-btns a {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--txt-color);
    color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

footer .social-btns a:hover {
    transform: translateY(-0.25rem);
}